
  <header>
    <h1>Sweet Leaf</h1>
    <img src="../../docs/logo.jpeg">
    <nav>
      <a href="/>" class= "nav">Menu</a>
      <a href="/orders" class="nav">Admin Login</a>
      <a href="/cart" class="nav">View Cart</a>
    </nav>

  </header>