<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="../public/scripts/app.js"></script>
  <script src="../public/vendor/jquery-3.0.0.js"></script>
  <link href="../public/vendor/border-box.css" />
  <link href="../public/vendor/normalize-4.1.1.css" />
  
  <title>Sweet Leaf</title>
</head>
<body>
  <%- include(partials/_header) %>
  <h2>Login</h2>
  <div>
    <form action='/login' method="post">
      <label for="email">Email</label>
      <input type="text" name="email">
      <button type="submit">Login</button>
    </form>

  </div>
  <%- include(partials/_footer) %>
</body>
</html>