<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <script src="./scripts//app.js"></script>
  <script src="./vendor/jquery-3.0.0.js"></script>
  <link href="./vendor/border-box.css" />
  <link href="./vendor/normalize-4.1.1.css" />
  <title>Sweet Leaf</title>
</head>
<body>
  <header>
    <h1>Sweat Leaf</h1>
    <nav>
      <a href="index.ejs>" class= "nav">Menu</a>
      <a href="login.ejs" class="nav">Admin Login</a>
      <a href="cart.ejs" class="nav">View Cart</a>
    </nav>

  </header>
  <div>
    <div class="menu_item">
      <img src="./images/<%= image1 %>" />
      <h3 class="menu_item"><%= itemName1 %></h3>
    </div>
    <!-- copy/paste changing number for each menu item variables will be specified in js using the database -->
  </div>
  <footer>
    <h4>&copy; 2021 Veronika, Kyle, April </h4>
  </footer>
</body>
</html>