<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <script src="./scripts//app.js"></script>
  <script src="./vendor/jquery-3.0.0.js"></script>
  <link href="./vendor/border-box.css" />
  <link href="./vendor/normalize-4.1.1.css" />
  <title>Sweet Leaf</title>
</head>
<body>
  <header>
    <h1>Sweet Leaf</h1>
    <nav>
      <a href="index.ejs>" class= "nav">Menu</a>
      <a href="login.ejs" class="nav">Admin Login</a>
      <a href="cart.ejs" class="nav">View Cart</a>
    </nav>

  </header>
  <div>
    <% for (i=0; i < menu_items.length; i++) { %> 
      <div class="menu_item <%= i %>">
        <img src= "<%= menu_items[i].image%>" />
        <h3 class="menu_item"><%= menu_items[i].name %></h3>
      </div>  
    <% } %>
    <!-- save items from database as const menu_items in order for this to work -->
    <!-- add click listener to class i to trigger the route to :itemid -->
  </div>
  <footer>
    <h4>&copy; 2021 Veronika, Kyle, April </h4>
  </footer>
</body>
</html>