// See: https://sass-lang.com/

body,
html {
  margin: 0;
}

//nav header

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5%;
  padding-left: 5%;
  height: 15vh;
}




.nav {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
}

//Main page

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
 margin: auto;
  background-color: #704C5E;

}

.menu-links a {
  display: inline-block;
  padding: 10px 120px;
  text-decoration: none;
}

.section_title {
  margin-left: 5%;
  margin-top: 5%;
}

#bowls{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-between;
  margin: auto;

}


#salads {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-between;
  margin: auto;
}


#drinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-between;
  margin: auto;
}

.menu_item {
  width: 32%;
  margin-bottom: 2%;
  position: relative;
  border: 4px solid #704C5E;
  transition:all 0.3s ease;
}

.menu_item:hover {
  transform: scale(1.1);
}

.menu_item img {
  width: 100%;
  border-bottom: 4px solid #704C5E;
}

.item_info {
  margin-left: 1%;
}

//admin orders page

.page_title {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;

}

.current_orders {
  width: 40%;
  text-align: center;
}

.incoming_orders {
  width: 40%;
  text-align: center;
}

.order {
  text-align:center;
  border: 10px solid #704C5E;
  padding: 5%;
  margin-bottom: 5%;
  border-radius: 10%;

}

.order h3 {
  text-decoration: underline;
}

//cart page

.container_cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart_order {
  border: 2px solid green;
  margin-top: 2%;
  padding: 2%;
}
