
$main-color: #E8EBF7;
$accent-color1: #386641;
$accent-color2: #6A994E;
$accent-color3: #704C5E;
$header-font: 'Nunito Sans', sans-serif;
$main-font: "EB Garamond";

body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-color: $main-color;
  color: $accent-color1;
  font-family: $main-font;
}


.hide {
  display: none;
}


header {
  background-color: $accent-color1;
  color: $main-color;
  font-family: $header-font;
  height: 100px;
}
header img {
  height: 80%;
}

footer {
  background-color: $accent-color2;
  color: $main-color;
}

header a {
  color: $main-color;
  padding: 5px;
  text-decoration: none;
  font-size: 1em;
}

header a:hover {
  color: $accent-color2;
}

button {
  background-color: $accent-color1;
  color: $main-color;
  padding: 10px;
}
button:hover {
  background-color: $accent-color2;
}

div {
  font-family: $main-font;
}

h1, h2, h3 {
  font-family: $header-font;
  font-weight: 500;
}

div.menu {
  font-family: $header-font;
}

div.menu a {
  color: $main-color;
  text-decoration: none;
  font-family: $header-font;
  font-size: 1.5em;

}
div.menu a:hover {
  color: $accent-color2;

}

label {
  font-family: $header-font;
}
