
$main-color: #E8EBF7;
$accent-color1: #386641;
$accent-color2: #6A994E;
$accent-color3: #704C5E;
$header-font: "EB Garamond";
$main-font: helvetica;

body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-color: $main-color;
  color: $accent-color1;
  font-family: $main-font;
}


.hide {
  display: none;
}


header {
  background-color: $accent-color1;
  color: $main-color;
  font-family: $header-font;
}

footer {
  background-color: $accent-color2;
  color: $main-color;
}

header a {
  color: $main-color;
  padding: 5px;
  text-decoration: none;
}

header a:hover {
  color: $accent-color2;
}

.menu_item button {
  background-color: $accent-color1;
  color: $main-color;
  padding: 10px;
}
.menu_item button:hover {
  background-color: $accent-color2;
}

div {
  font-family: $main-font;
}

h2 {
  font-family: $header-font;
}
